<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.iitrace">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".IITraceApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MaterialComponents.DayNight" >

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.vision.DEPENDENCIES"-->
<!--            android:value="barcode" />-->

        <activity
            android:name=".view.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.iitrace.MainActivity"
            android:exported="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" android:launchMode="singleTop" />
        <activity android:name=".ScanQRActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".QRHistoryActivity" />
        <activity android:name=".AlertsActivity"/>
        <activity android:name=".ReportsActivity"/>
        <activity android:name=".ReportsCreateActivity"/>
        <activity android:name=".ReportsWarningActivity" android:launchMode="singleTop"/>
    </application>

</manifest>